In [20]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("data/overfishing.csv")

In [25]:
df = df.T.rename(columns={0: "fully_exploited", 1: "not_fully_exploited", 2: "overexploited"})

In [26]:
df.head()

      fully_exploited  not_fully_exploited  overexploited
1983            52.67                30.67          16.67
1984            52.67                30.67          16.67
1985            50.27                31.55          18.18
1986            50.27                31.55          18.18
1987            43.98                31.41          24.61

In [27]:
list(df.index.values)

['1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [28]:
list(df["fully_exploited"])

[52.67,
 52.67,
 50.27,
 50.27,
 43.98,
 43.98,
 42.63,
 50.0,
 50.0,
 45.95,
 45.95,
 43.35,
 43.35,
 43.35,
 49.73,
 49.73,
 47.17,
 47.17,
 47.17,
 47.17,
 52.71,
 52.71,
 52.71,
 51.51,
 51.51,
 52.83,
 57.47,
 57.47,
 61.28,
 61.28,
 58.11]

In [29]:
list(df["not_fully_exploited"])

[30.67,
 30.67,
 31.55,
 31.55,
 31.41,
 31.41,
 30.53,
 31.38,
 31.38,
 29.28,
 29.28,
 29.61,
 29.61,
 29.61,
 26.63,
 26.63,
 25.4,
 25.4,
 25.4,
 25.4,
 22.92,
 22.92,
 22.92,
 20.52,
 20.52,
 14.68,
 12.66,
 12.66,
 9.98,
 9.98,
 10.53]

In [30]:
list(df["overexploited"])

[16.67,
 16.67,
 18.18,
 18.18,
 24.61,
 24.61,
 26.84,
 18.62,
 18.62,
 24.77,
 24.77,
 27.04,
 27.04,
 27.04,
 23.64,
 23.64,
 27.44,
 27.44,
 27.44,
 27.44,
 24.38,
 24.38,
 24.38,
 27.97,
 27.97,
 32.49,
 29.87,
 29.87,
 28.74,
 28.74,
 31.36]

In [12]:
df.to_csv("data/fishing.csv")